body{
    background: url(https://media.wired.com/photos/5954a1b05578bd7594c46869/master/w_1600,c_limit/reddit-alien-red-st.jpg);
    background-repeat: repeat;
}

div{
    background-color: blue;
    border-color: orange;
    border-width: 5px;
    border-style: ridge;
}

p{
    color:yellowgreen;
}
span{
    background: black;
    color: beige;
}