h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.art{
    margin: auto;
}

td{
    height: 200px;
    padding: 100px;
    border:6px solid white;
}
  

#col1{
    background: #247BA0;
}

#col2{
    background: #70C1B3;

}

#col3{
    background: #B2DBBF;
}

#col4{
    background: #F3FFBD;

}

#col5{
    background: #FF1654;
}

